<div class="ui action large input search-width">
  <%= f.text_field :name_or_description_cont, class: 'rounded-left border-0', placeholder: 'ウイスキー名を入力' %>
  <%= button_tag type: :submit, class: 'ui icon button rounded-right bg-white' do %>
    <i class="fa-solid fa-magnifying-glass fa-xl hover-target-reverse f-navy"></i>
  <% end %>
</div>