<div class="input-group">
  <%= f.text_field :name_cont, class: 'form-control-lg border-0 rounded-left search-width', placeholder: 'ウイスキー名を入力' %>
  <%= button_tag type: :submit, class: "btn bg-white rounded-right" do %>
    <i class="fa-solid fa-magnifying-glass fa-xl hover-target-reverse f-navy"></i>
  <% end %>
</div>