<div class="modal fade" id="privacyPolicy" tabindex="-1" aria-labelledby="privacyPolicyLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fw-bold" id="privacyPolicyLabel">プライバシーポリシー</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class='row mb-5'>
            <div class='col-auto text-muted'>
              本ウェブサイトの管理者（以下、「管理者」といいます。）は、本ウェブサイト上で提供するサービス（以下、「本サービス」といいます。）における、ユーザーの個人情報の取扱いについて、以下のとおりプライバシーポリシー（以下、「本ポリシー」といいます。）を定めます。
            </div>
          </div>

          <div class='row mt-5 mb-3'>
            <div class='col-auto fs-4 fw-bold'>
              第1条（ユーザーから取得する情報）
            </div>
          </div>
          <div class='row mb-5'>
            <div class='col-auto text-muted'>
              <ol>
                <li>氏名(ニックネームやペンネームも含む)</li>
                <li>性別</li>
                <li>メールアドレス</li>
                <li>写真や動画</li>
                <li>外部サービスでユーザーが利用するID、その他外部サービスのプライバシー設定によりユーザーが連携先に開示を認めた情報</li>
                <li>Cookie(クッキー)を用いて生成された識別情報</li>
                <li>OSが生成するID、端末の種類、端末識別子等のユーザーが利用するOSや端末に関する情報</li>
                <li>ウェブサイトの滞在時間、入力履歴等のウェブサイトにおけるユーザーの行動履歴</li>
                <li>アプリの起動時間、入力履歴等のアプリの利用履歴</li>
              </ol>
            </div>
          </div>

          <div class='row mt-5 mb-3'>
            <div class='col-auto fs-4 fw-bold'>
              第2条（ユーザーの情報を利用する目的）
            </div>
          </div>
          <div class='row mb-5'>
            <div class='col-auto text-muted'>
              <ol>
                <li>本サービスに関する登録の受付、ユーザーの本人確認、認証のため</li>
                <li>ユーザーの本サービスの利用履歴を管理するため</li>
                <li>本サービスにおけるユーザーの行動履歴を分析し、本サービスの維持改善に役立てるため</li>
                <li>市場分析、マーケティングのため</li>
                <li>本サービスに関するご案内をするため</li>
                <li>ユーザーからのお問い合わせに対応するため</li>
                <li>本サービスの規約や法令に違反する行為に対応するため</li>
                <li>本サービスの変更、提供中止、終了、契約解除をご連絡するため</li>
                <li>本サービスの規約の変更等を通知するため</li>
                <li>以上の他、本サービスの提供、維持、保護及び改善のため</li>
              </ol>
            </div>
          </div>

          <div class='row mt-5 mb-3'>
            <div class='col-auto fs-4 fw-bold'>
              第3条（第三者提供）
            </div>
          </div>
          <div class='row mb-5'>
            <div class='col-auto text-muted'>
              管理者は、ユーザーから取得する情報のうち、個人データ（個人情報保護法第２条第６項）に該当するものついては、あらかじめユーザーの同意を得ずに、第三者（日本国外にある者を含みます。）に提供しません。<br>
              但し、次の場合は除きます。
              <ol>
                <li>個人データの取扱いを外部に委託する場合</li>
                <li>当サービスが買収された場合</li>
                <li>事業パートナーと共同利用する場合（具体的な共同利用がある場合は、その内容を別途公表します。）</li>
                <li>その他、法律によって合法的に第三者提供が許されている場合</li>
              </ol>
            </div>
          </div>

          <div class='row mt-5 mb-3'>
            <div class='col-auto fs-4 fw-bold'>
              第4条（アクセス解析ツール）
            </div>
          </div>
          <div class='row mb-5'>
            <div class='col-auto text-muted'>
              管理者は、ユーザーのアクセス解析のために、「Googleアナリティクス」を利用しています。Googleアナリティクスは、トラフィックデータの収集のためにCookieを使用しています。トラフィックデータは匿名で収集されており、個人を特定するものではありません。Cookieを無効にすれば、これらの情報の収集を拒否することができます。詳しくはお使いのブラウザの設定をご確認ください。Googleアナリティクスについて、詳しくは以下からご確認ください。 https://marketingplatform.google.com/about/analytics/terms/jp/
            </div>
          </div>

          <div class='row mt-5 mb-3'>
            <div class='col-auto fs-4 fw-bold'>
              第5条（広告の配信）
            </div>
          </div>
          <div class='row mb-5'>
            <div class='col-auto text-muted'>
              本サービスは、Amazonアソシエイト・プログラムに参加しています。そのため、第三者がコンテンツおよび宣伝を提供したり、ユーザーから直接情報を収集し、ユーザーのブラウザにCookieを設定したり、Cookieを認識したりする場合があります。
              Cookieを無効にすれば、これらの情報の収集を拒否することができます。詳しくはお使いのブラウザの設定をご確認ください。
            </div>
          </div>

          <div class='row mt-5 mb-3'>
            <div class='col-auto fs-4 fw-bold'>
              第6条（プライバシーポリシーの変更）
            </div>
          </div>
          <div class='row mb-5'>
            <div class='col-auto text-muted'>
              当社は、必要に応じて、このプライバシーポリシーの内容を変更します。この場合、変更後のプライバシーポリシーの施行時期と内容を適切な方法により周知または通知します。
            </div>
          </div>

          <div class='row mt-5 mb-3'>
            <div class='col-auto fs-4 fw-bold'>
              第7条（お問い合わせ）
            </div>
          </div>
          <div class='row mb-5'>
            <div class='col-auto text-muted'>
              本ポリシーに関するお問い合わせは、お問い合わせフォームまでお願いいたします。
            </div>
          </div>

          <div class='row mt-5 mb-3'>
            <div class='col-auto text-muted fs-5'>
              2022年6月1日 制定
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="ui button" data-bs-dismiss="modal">閉じる</button>
      </div>
    </div>
  </div>
</div>