<% set_meta_tags title: 'フレーバー' %>
<div class="container mt-5 pt-5">
  <div class="row justify-content-center">
    <h1 class="col-auto text-muted text-center fw-bold">
      <em class="fs-3 fw-lighter serif">- Flavors -</em><br>
      フレーバー
    </h1>
  </div>

  <div class="row justify-content-center mt-5">
    <%= render 'shared/link_to_index', path: whiskeys_path, text: '&#127870; ウイスキー' %>
    <%= render 'shared/link_to_index', path: drink_ways_path, text: '&#129347; 飲み方' %>
    <%= render 'shared/link_to_index', path: snacks_path, text: '&#129372; おつまみ' %>
  </div>

  <div class="row justify-content-center mt-4">
    <div class="col-lg-9 ui divider border-2">
    </div>
  </div>
</div>

<% Flavor.categories.keys.each do |key| %>
  <%= render partial: 'flavors', locals: { flavors: Flavor.where(category: key).order(:id) } %>
<% end %>
