<% set_meta_tags title: 'フレーバー' %>
<div class="container mt-5 pt-5">
  <div class="row justify-content-center">
    <h1 class="col-auto text-muted text-center">
      Flavors<br>
      <span class="fs-3">〜フレーバー一覧〜</span>
    </h1>
  </div>
  <div class="row justify-content-center mt-4">
    <div class="col-lg-9 ui divider border-2">
    </div>
  </div>
</div>

<% Flavor.categories.keys.each do |key| %>
  <%= render partial: 'flavors', locals: { flavors: Flavor.where(category: key).order(:id) } %>
<% end %>
