<% set_meta_tags title: '投稿一覧' %>

<div class="container mt-5 pt-5">
  <div class="row justify-content-center">
    <h1 class="col-auto text-muted text-center fw-bold">
      <em class="fs-3 fw-lighter serif">- Tasting Notes -</em><br>
      投稿一覧
    </h1>
  </div>

  <div class="row justify-content-center mt-4">
    <div class="col-lg-9 col-6 ui divider border-2">
    </div>
  </div>
</div>

<div class="container mb-5 pt-5">
  <%= render partial: 'note', collection: @tasting_notes, locals: { width: 'lg' } %>
</div>

<div class="py-5">
  <div class='container'>
    <div class='row mb-5 justify-content-center'>
      <div class="col-auto">
        <%== pagy_semantic_nav(@pagy) %>
      </div>
    </div>
  </div>
</div>