<h1>Staticpages#top</h1>
<div class='ui error message'>Find me in app/views/staticpages/top.html.erb</div>
<div class="ui vertical menu">
  <div class="ui dropdown item">
    Categories
    <i class="dropdown icon"></i>
    <div class="menu">
      <a class="item">Electronics</a>
      <a class="item">Automotive</a>
      <a class="item">Home</a>
    </div>
  </div>
</div>

<%= link_to "最終確認用ボタン", "#", class: "btn btn-primary" %>
