<% unless action_name == 'top' %>
  <% flash.each do |message_type, message| %>
    <div class="container">
      <div class="row justify-content-center">
        <div class="ui message col-auto <%= message_type %>"><%= message %></div>
      </div>
    </div>
  <% end %>
<% end %>