<footer class="text-center">
  <div class="container">
      Give Me <strong>Feedback!</strong>
  </div>
  <div class="container">
    <div class="navi-row">
      <ul class="navi">
        <li><%= link_to '利用規約', '#' %></li>
        <li><%= link_to 'プライバシーポリシー', '#' %></li>
        <li><%= link_to 'お問い合わせ', '#' %></li>
      </ul>
    </div>
  </div>
  <div class="container">
    <p class="copyright">Copyright &copy; whiskey 2021. All rights reserved.</p>
  </div>
</footer>