<footer class="text-center text-secondary mt-5" id='footer'>
  <div class="container">
    <div class="row justify-content-evenly mb-5">
      <div class="col-auto">
        <a href='' class='simple-a-tag hover-target' data-bs-toggle="modal" data-bs-target="#termsOfService">利用規約</a>
      </div> 
      <div class="col-auto">
        <a href='' class='simple-a-tag hover-target' data-bs-toggle="modal" data-bs-target="#privacyPolicy">プライバシーポリシー</a>
      </div>
      <div class="col-auto">
        <a href='' class='simple-a-tag hover-target' data-bs-toggle="modal" data-bs-target="#inquiry">お問い合わせ</a>
      </div>
    </div>
  </div>
  <div class="row justify-content-center mb-4">
    <div class="col-auto">
      ※お酒は20歳になってから。
    </div>
  </div>

  <div class="row justify-content-center">
    <p class="col-auto">Copyright &copy; Malt Mate 2022.<br>
    All rights reserved.</p>
  </div>
</footer>

<%= render 'shared/helps/terms_of_service' %>
<%= render 'shared/helps/privacy_policy' %>
<%= render 'shared/helps/inquiry' %>