<footer class="text-center text-secondary mt-5">
  <div class="container">
    <div class="row justify-content-evenly mb-5">
      <div class="col-auto">
        <%= link_to '利用規約', '#', class: 'simple-a-tag hover-target' %>
      </div> 
      <div class="col-auto">
        <%= link_to 'プライバシポリシー', '#', class: 'simple-a-tag hover-target' %>
      </div>
      <div class="col-auto">
        <%= link_to 'お問い合わせ', '#', class: 'simple-a-tag hover-target' %>
      </div>
    </div>
  </div>
  <div class="row justify-content-center mb-4">
    <div class="col-auto">
      ※当サイトは"amazon.co.jp"が提供するアソシエイトリンクを利用しています。
    </div>
  </div>

  <div class="row justify-content-center">
    <p class="col-auto">Copyright &copy; Whiskey Database 2022.<br>
    All rights reserved.</p>
  </div>
</footer>