<div class="container mt-5 pt-5">
  <div class="row">
    <div class="col-12 text-center text-muted fs-1">
      テイスティングノート作成
    </div>
  </div>
</div>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
      <%= render 'form', tasting_note: @tasting_note %>
    </div>
  </div>
</div>

