<%= link_to flavors_path(anchor: "#{flavor.group}"), class: 'simple-a-tag hover-target-reverse' do %>
  <span class="ui text-white label-<%= flavor.group %> tag label ms-3 me-4 my-1"><%= flavor.name %></span>
<% end %>