<!-- 主情報 -->
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-lg-8 row justify-content-center text-center rounded shadow bg-white"> <!-- col-lg-8でカードっぽく -->
      <div class="col-lg-4 text-center">
        <div class="col-12 my-5 rounded">
          <a href="https://www.amazon.co.jp/GLENFIDDICH-%E3%82%B0%E3%83%AC%E3%83%B3%E3%83%95%E3%82%A3%E3%83%87%E3%82%A3%E3%83%83%E3%82%AF-%E3%82%B7%E3%83%B3%E3%82%B0%E3%83%AB%E3%83%A2%E3%83%AB%E3%83%88-%E3%82%A6%E3%82%A4%E3%82%B9%E3%82%AD%E3%83%BC-%E3%82%B0%E3%83%AC%E3%83%B3%E3%83%95%E3%82%A3%E3%83%87%E3%82%A3%E3%83%83%E3%82%AF12%E5%B9%B4/dp/B001TZB0EK?__mk_ja_JP=%E3%82%AB%E3%82%BF%E3%82%AB%E3%83%8A&crid=38IO47VCUJUFG&keywords=%E3%81%90%E3%82%8C%E3%82%93%E3%81%B5%E3%81%83%E3%81%A7%E3%81%83%E3%81%8F+12%E5%B9%B4%E3%82%B0%E3%83%AC%E3%83%B3%E3%83%95%E3%82%A3%E3%83%87%E3%83%83%E3%82%AF&qid=1648173832&sprefix=%E3%81%90%E3%82%8C%E3%82%93%E3%81%B5%E3%81%83%E3%81%A7%E3%81%83%E3%81%8F+12%E5%B9%B4%E3%82%B0%E3%83%AC%E3%83%B3%E3%83%95%E3%82%A3%E3%83%87%E3%83%83%E3%82%AF%2Caps%2C334&sr=8-1&linkCode=li3&tag=akirakotira-22&linkId=e95dcd101c6fcec3c0d68fd54b2e99b0&language=ja_JP&ref_=as_li_ss_il" target="_blank"><img src="//ws-fe.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=B001TZB0EK&Format=_SL250_&ID=AsinImage&MarketPlace=JP&ServiceVersion=20070822&WS=1&tag=akirakotira-22&language=ja_JP"></a><img src="https://ir-jp.amazon-adsystem.com/e/ir?t=akirakotira-22&language=ja_JP&l=li3&o=9&a=B001TZB0EK" width="1" height="1" alt="" style="border:none !important; margin:0px !important;" />
        </div>
        <div class="col-auto mb-3">
          <div class='d-flex justify-content-center justify-content-lg-start'>
            <div class="pie mx-3 fs-6">バランスの良い</div>
            <div class="pie mx-3 fs-6">少し芳醇</div>
          </div>
        </div>
        <div class="col-12 row my-3">
          <div class="col ps-4">飲み口</div>
          <div class="col ps-4">香りの強さ</div>
        </div>
      </div>
      <div class="col-lg-7 text-lg-start ms-lg-5 my-5">
        <h5 class="text-muted mb-3">
          スコッチウイスキー
        </h5>
        <h1 class="my-4">
          響 〜ジャパニーズハーモニー〜
        </h1>
        <h2 class="my-3">
          <span class="ui brown tag label ms-3 me-4 my-1">バニラ</span>
          <span class="ui brown tag label ms-2 me-4 my-1">はちみつ</span>
          <span class="ui orange tag label ms-2 me-4 my-1">ドライフルーツ</span>
        </h2>
        <div class="my-5 spacing-text mx-lg-auto mx-5">
          アメリカンオーク樽とヨーロピアンシェリー樽で最低12年熟成させ、さらに後熟させたボトル。<br>甘く、フルーティーな味わいで、洋梨やレモンを感じさせる爽やかな香りが特徴です。<br>飲んだ後は、ほのかな甘みが残り、繊細で軽やかな味わいが口いっぱいに広がります。
        </div>
        <h4 class="text-muted my-auto ms-lg-0 ms-lg-5">
          <span class="h6 mx-autoo">適正価格：　¥</span>3,500
          <button class="amazon_button ms-5 ms-xl-5 ms-lg-3 my-lg-5 my-5 my-xl-auto"><h4><i class="amazon icon"></i></h4>Find it!</button> <!-- lg幅のボタン配置要改善 -->
        </h4>
      </div>
    </div>
  </div>
</div>

<!-- 副情報 -->
<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-4 bg-dark text-white text-center rounded-3">
      <div class="my-3 py-3">
        <p class="lead">相性のいい飲み方</p>
        <h4 class="display-5">ハイボール</h4>
        <h6><em>whiskey-and-soda</em></h6>
      </div>
      <div class="bg-light m-5 drink" style="width: 80%; height: 300px; border-radius: 21px;"></div>
    </div>
    <div class="col-lg-4 bg-secondary text-white text-center rounded-3">
      <div class="my-3 py-3">
        <p class="lead">フードペアリング</p>
        <h4 class="display-5">チョコレート</h4>
        <h6><em>chocorate</em></h6>
      </div>
      <div class="bg-light m-5 pairing" style="width: 80%; height: 300px; border-radius: 21px;"></div>
    </div>
  </div>
</div>
<!-- 投稿 -->
<div class="contianer">

</div>
