@import "semantic-ui";
@import "shared";
@import "top";

// bootstrapの背景色を上書き？
body {
  background-color: #F0ECE3 !important;
}

.container-for-show {
  width: 70%;
}

// 行間・文字間を開ける
.spacing-text {
  line-height: 1.6;
  letter-spacing: 0.05em;
}

// 未使用
// .bg-grade {
//   background-color: # !important;
// }

// for pie-chart
.pie {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100px;
	height: 100px;
	font-size: 12px;
	background-image: radial-gradient(#fffbf0 60%, transparent 31%), conic-gradient(#FFCE20 0% 60%, #ffeebc 60% 100%);
	border-radius: 50%;
  color: #ffc805;
  font-weight: 500;
  letter-spacing: 0.2em;
}

.amazon_button {
  width: 140px;
  height: 45px;
  font-size: 11px;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;

  &:hover {
    background-color: #2EE59D;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
  }
}