.btn-search {
  color: #000 !important;
  box-shadow: none !important;
  background-color: #c9c1b0 !important;
  border: none !important;
  opacity: .7;
  &:hover {
    opacity: .6;
  }
}

label input[type="checkbox"]:checked + span {
  opacity: 1;
}

.search-width {
  @media screen and (min-width: 2079px) {
    width: 20vw;
  }
  @media screen and (min-width: 1200px) {
    width: 24vw;
  }
  @media screen and (min-width: 992px) {
    width: 19vw;
  }
  width: 40vw;
}

.bg-d-cream {
  background-color: #c9c1b0 !important;
}