// for header
nav {
  transition: 0.5s;
}

nav.scroll-nav {
  background-color: #4f7183;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
}

// for footer
footer {
  background-color: #ded9cf;
  padding-top: 7rem;
  padding-bottom: 3rem;
}

footer li {
  list-style-type: none;
}

// for border of flavores at whyskeys#index
.box {
  position: relative;
  margin: 1em 0;
  padding: 0.5em 1em;
  border: solid 1px #4d6e80;
  border-radius: 0.25rem;
}

.box .box-title {
  position: absolute;
  display: inline-block;
  top: -13px;
  left: 10px;
  padding: 0 9px;
  line-height: 1;
  font-size: 14px;
  background: #FFF;
  color: #4d6e80;
  font-weight: bold;
}

.box p {
  margin: 0; 
  padding: 0;
}

.top {
  background-color: transparent;
}

.header-main {
  background-color: #4f7183;
}

.rounded-15p {
  border-radius: 15px !important;
}