.top-img {
  background-image: image-url('top.webp');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 100vh;
  margin-bottom: 10%;

  @media screen and (max-width: 767px) {
    height: calc(64vh);
  }
}

.mb-between-rows {
  margin-bottom: 5%;
}

.top-flavors {
  margin-bottom: 5%;
}

h3 small {
  font-size: 1rem;
}

.inner-text {
  position: absolute;
  top: 40%;
  @media screen and (min-width: 768px) {
    top: 40%;
  }
}

.btn-ani {
  border: 0;
  color: white;
  overflow: hidden;
  transition: all 0.4s cubic-bezier(.86, .01, .15, .99);
  background: transparent;
  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0;
  }
  &.gradient:hover {
    transform: translateY(-5px);
  }
}

.btn-left {
  background: transparent;
  transform: perspective(1px) translateZ(0);
  transition: 0.4s;
  &:before {
    background-color: #dc4200;
    clip-path: inset(0 100% 0 0);
    opacity: 1;
    transition: 0.4s;
  }
  &:hover::before {
    clip-path: inset(0 0 0 0);
  }
}

.huge.ui.basic.inverted.button:hover {
  color: #d9d9d9 !important;
}