.top-img {
  background-image: image-url("top.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 100vh;
  margin-bottom: 10%;

  @media screen and (max-width: 767px) {
    height: calc(64vh);
  }
}

.mb-between-rows {
  margin-bottom: 5%;
}

.top-flavors {
  margin-bottom: 5%;
}

h3 small {
  font-size: 1rem;
}

.drink {
  background-image: image-url("highball.jpg");
  background-size: cover;
}

.rocks {
  background-image: image-url("on_the_rocks.jpg");
  background-size: cover;
}

.pairing {
  background-image: image-url("chocolate.jpg");
  background-size: cover;
}
