.top-img {
  background-image: image-url("top.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 100vh;
  margin-bottom: 10%;
}

.mb-between-rows {
  margin-bottom: 5%;
}

.top-flavors {
  margin-bottom: 5%;
}

h3 small {
  font-size: 1rem;
}