// for tasting-note
.bg-edit {
  background-color: #716a6a !important;
}

.bg-delete {
  background-color: #fc3317 !important;
}

.u-set {
  background-color: darken(#ded9cf, 1%) !important;
  &:hover {
    background-color: darken(#ded9cf, 5%) !important
  }
  &:active {
    background-color: darken(#ded9cf, 10%) !important
  }
}

.bg-main-darken {
  background-color: darken(#F0ECE3, 5%) !important;
}

.ui.basic.white.label {
  background: none #ded9cf !important;
}

.nav-link.border-0 {
  background-color: #F0ECE3 !important;
}

.nav-link.border-0.active {
  background-color: #ded9cf !important;
  font-weight: bold;
}