.sm-small {
  @media screen and (max-width: 991px) {
    height: 200px !important;
  }
  @media screen and (max-width: 575px) { 
    height: 150px !important;
  }
}

.card {
  min-height: 265px;
  @media screen and (max-width: 991px) {
    min-height: 450px;
  }
  @media screen and (max-width: 575px) {
    min-height: 320px;
  }
}