<div class="container mt-5 pt-5">
  <div class="row justify-content-center">
    <h1 class="col-auto text-muted text-center">
      <em>Snacks</em><br>
      <span class="fs-3">〜おつまみ一覧〜</span>
    </h1>
  </div>
  <div class="row justify-content-center mt-4">
    <div class="col-lg-9 col-6 ui divider border-2">
    </div>
  </div>
</div>

<%= render @snacks %>
